body {
  margin: 0;
}
.service-container {
}
.image {
  width: 60%;
  height: 60%;
  margin: 0;
}
.para{
    font-size:2rem;
}
.head{
    font-size: 2.5rem;
    text-align: center;
}

#header {
  top: 0;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-direction: row;
  padding: 1rem;
}
a {
  text-decoration: none;
}

.welcome {
    background-image: url("./images/001.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
}

.welcome-overlay{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
}

#header {
    position: absolute;
    top: 0;
    z-index: 99;
}

.welcome2 {
    position: relative;
    top: 10rem;
    z-index: 99;
    width: 80%;
    margin: auto;
    color: white;
}

.text {
    padding-bottom: 45rem;
}

